*, *:before, *:after{
  margin:0;
  padding:0;
}
body {
  overflow: hidden;
} 

#gameBody {
  /*background: url(../_img/space_background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;*/
  height: 2000px;
}

#container {
  width: 3840px;
  height: 2400px;
  border: 2px solid;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

#box img{
  width: 100%;
  height: 100%;
}

#bg{
  background-color: black;
}

#testArea {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#combiner {
  position: absolute;
  width: 540px;
  height: 360px;
  float: right;
  bottom: 1rem;
  right: 1rem;
  background-image: url("../_img/combine2.png");
  background-color: white;
}

#combinerContainer {
  background-attachment: fixed;
  width: 540px;
  height: 360px;
  z-index: 100;
}

.draggable {
  z-index: 1000;
}
#fire{
  cursor: pointer;
}

#Parent1 {
  position: fixed !important;
  -moz-user-drag: none !important;
  -webkit-user-drag: none !important;
  -ms-user-drag: none !important;
  -o-user-drag: none !important;
}
