*, *:before, *:after{
  margin:0;
  padding:0;
}
body {
  overflow: hidden;
}

#gameBody {
  background-image: url('../_img/game_bg.png');
  background-size: 100%;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
}

#container {
  width: 3840px;
  height: 2400px;
  border: 2px solid;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

#box img{
  width: 100%;
  height: 100%;
}

#bg{
  background-color: black;
}

#testArea {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#combiner {
  position: absolute;
  width: 540px;
  height: 360px;
  float: right;
  top: 16rem;
  right: 15rem;
}

#combinerContainer {
  background-attachment: fixed;
  width: 540px;
  height: 360px;
  z-index: 100;
}

.draggable {
  z-index: 1000;
}
#fire{
  cursor: pointer;
}

#Parent1, #Parent2 {
  position: fixed !important;
  -moz-user-drag: none !important;
  -webkit-user-drag: none !important;
  -ms-user-drag: none !important;
  -o-user-drag: none !important;
}

.innerAlpha, .innerBeta, .innerGamma, .innerDelta, .innerOmega {
  display: none;
}

.alpha:hover .innerAlpha {
  display: block;
  list-style-type: none;
}

.beta:hover .innerBeta {
  display: block;
  list-style-type: none;
}

.gamma:hover .innerGamma {
  display: block;
  list-style-type: none;
}

.delta:hover .innerDelta {
  display: block;
  list-style-type: none;
}

.omega:hover .innerOmega {
  display: block;
  list-style-type: none;
}

.alpha {
  float: left;
  position: absolute;
  left: 15rem;
  top: 10rem;
  list-style-type: none;
}

.alpha img, .beta img, .gamma img, .delta img, .omega img {
  width: 110px;
  height: 120px;
}

.beta {
  float: left;
  position: absolute;
  top: 10rem;
  left: 43rem;
  list-style-type: none;
}

.gamma {
  float: left;
  position: absolute;
  top: 25rem;
  left: 20rem;
  list-style-type: none;
}

.delta {
  float: left;
  position: absolute;
  top: 25rem;
  left: 36rem;
  list-style-type: none;
}

.omega {
  float: left;
  position: absolute;
  top: 42rem;
  left: 27.5rem;
  list-style-type: none;
}

#return{
  border: 5px solid grey;
  border-radius: .5rem;
  background-color: transparent;
  font-family: Itim, cursive;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  height: 10%;
  margin-top: 5rem;
}
